
<h1><%= @listing.title %></h1>
<p>Location: <%= @listing.location %></p>
<p>Price: <%= @listing.price %></p>
<p>Max Pax: <%= @listing.max_pax %></p>
<% @listing.images.each do |image| %>
	<%= image_tag(image) %>
<% end %>
<% if current_user.id == @listing.user_id %>
	<%= button_to 'Destroy listing', listing_path(@listing), method: :delete %>
<% end %>